#navbar-title{
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  margin: .5rem;
}

.vertical-center {
  margin-top: 10%;
}

#profile-image {
  width: 10rem;
  height: 10rem;
  border: .2rem solid #868e96;
  margin: .5rem;
}

.border{
  width: 100%;
  border-bottom: .1rem solid #868e96;
  margin-bottom: .4rem;
}

.company-info > div {
  margin-top: .5rem;
}

#contact-title {
  margin-bottom: 1.5rem;
}
