#navbar-title{
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  margin: .5rem;
}

.vertical-center {
  margin-top: 10%;
}

#profile-image {
  width: 12rem;
  height: 12rem;
  border: .2rem solid #868e96;
  margin: 1rem;
}
