<html>
  <head>
    <title>EngageFT Coding Challenge</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../scripts/app.js"></script>
    <script src="../scripts/account.js"></script>
    <link type= "text/css" rel="stylesheet" href="../styles/app.css"/>
    <link type= "text/css" rel="stylesheet" href="../styles/account.css"/>
  </head>
  <body>
    <div class="nav-container"></div>
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 vertical-center">
          <div class="card">
            <div class="panel panel-default">
              <div class="card-header"><h4 >User Profile</h4></div>
              <div class="card-body row">

                <div class="col-xs-12 col-lg-4 company-info">
                  <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image" class="img-circle img-responsive">
                  <input id="profile-image-upload" type="file" hidden>
                  <h4 id="full-name"></h4>
                  <div class="border"></div>
                  <div><h6>Works at <span id="company-name"></span></h6></div>
                  <div>Catch Phrase: <i>"<span id="company-catchphrase"></span>"</i></div>
                  <div>Business Strategy: <i>"<span id="company-bs"></span></i>"</div>
                </div>

                <div class="col-xs-12 col-lg-4">
                  <h4 id="contact-title">Contact Info:</h4>
                  <h6>Username: <span id="username"></span></h6>
                  <div class="border"></div>
                  <h6>Email: <span id="email"></span></h6>
                  <div class="border"></div>
                  <h6>Phone: <span id="phone"></span></h6>
                  <div class="border"></div>
                  <h6>Website: <span id="website"></span></h6>
                  <div class="border"></div>
                  <h6>Address:</h6>
                  <p>
                    <span id="street"></span>,
                    <span id="suite"></span><br>
                    <span id="city"></span><br>
                    <span id="zip"></span>
                  </p>
                </div>

                <div class="col-xs-12 col-lg-4 embed-responsive embed-response-16by9">
                  <div class="embed-responsive-item">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3975.484365030213!2d51.0717778!3d-4.8581867!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzfCsDE4JzU3LjIiUyA4McKwMDgnNTguNiJF!5e0!3m2!1sen!2sus!4v1555202310803!5m2!1sen!2sus" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
